.carousel-image {
  height: 600px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .carousel-image {
    height: auto;
    max-height: 400px;
    object-fit: scale-down;
  }
}

@media (min-width: 992px) {
  .carousel-image {
    max-height: 500px;
    object-fit: scale-down;
  }
}

.carousel {
  position: relative;
}

.custom-control-prev,
.custom-control-next {
  position: absolute;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: x-large
}

.custom-icon {
  color: white;
}
