.image-list-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  height: 400px;
  overflow-y: auto;
}

@media (min-width: 600px) {
  .image-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .image-list-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1800px) {
  .image-list-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1800px) and (orientation: landscape) {
  .image-list-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.modal-popup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-popup img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  cursor: zoom-in;
  transition: transform 0.3s ease;
}

.modal-popup img.zoomed {
  transform: scale(2);
}
